{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <table class ="table table-striped mx-auto w-auto">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>total</th>
        </tr>
        {%for holding in holdings %}
        <tr>
            <td>{{holding.symbol}}</td>
            <td>{{holding.shares}}</td>
            <td>{{holding.price | usd }}</td>
            <td>{{holding.total | usd }}</td>
        </tr>
        {% endfor %}
         <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td>{{cash | usd }}</td>
        </tr>
    </table>
{% endblock %}
